/.venv
/.vscode

*.idea*
*.pyc
__pycache__/*
*__pycache__*
*.ipynb_checkpoints*


/train/embeddings/
/stability/representational_similarity/jaccard_similarity/results/
data/**/raw/*
data/**/processed/*
data/**/mapping/*
data/**/split/*
data/**/*.npy
data/**/*.bcsr
data/**/*.txt
data/**/downstream_task_data.csv
models/verse/src/*
output/**/*.emb
output/**/*.pt
output/**/*.npy
output/**/*.h5
output/**/dec_model*
output/**/enc_model*
latex/*
jobs/*
shell_scripts/*
*.sh
configs/gem_config*
configs/sdne_config*
configs/node2vec_config*
